@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --main-color: #343235;
  --secondary-color: #0085ff;
  --globalgreen: #30BF89;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--main-color);
  background: white;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  html,
  body {
    overflow: auto;
  }

  .wrapper {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 380px) {
  html,
  body {
    overflow: auto;
  }

  .wrapper {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 380px) {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(64vh - 80px);
  }
}