.tabsMenu {
    list-style: none;
    margin: 35px auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 5px;
}

.tabsItem {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 250px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.2) inset;
}

.actives {
    background-color: #FF9E73;
}

.tabsItem:hover {
    background-color: #a0a0a0;
    color: wheat;
}

.tab {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tabContentText {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tabContentTitle {
    font-size: 28px;
}

.tabContentP {
    font-size: 18px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.tab.active {
    display: flex;
    animation: fadeIn 0.5s ease-in forwards;
}

.tab.inactive {
    display: none;
    animation: fadeOut 0.5s ease-in forwards;
}

@media screen and (max-width: 800px) {
    .tabsMenu {
        margin: 10px auto;
        flex-wrap: wrap;
        gap: 5px;
        padding: 10px 5px;
    }

    .tab {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .tab img {
        max-width: 100%;
        height: fit-content;
    }

    .tabContentText {
        gap: 5px;
    }

    .tabContentTitle {
        font-size: 20px;
    }

    .tabContentP {
        font-size: 16px;
    }
}